@import "tailwindcss";
@source "hugo_stats.json";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

body {
        @apply bg-stone-950 text-gray-300;
        @apply m-auto;
        @apply w-full max-w-2xl;
        @apply font-mono;
        @apply px-4;
}

@layer base {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
                @apply font-serif;
                @apply font-bold;
        }

        h1,
        h2 {
                @apply mt-20;
        }

        h1 {
                @apply text-4xl;
        }

        h2 {
                @apply text-2xl;
        }

        p,
        div.highlight {
                @apply mt-10;
        }

        a {
                @apply text-blue-600;
                @apply dark:text-yellow-400;
        }

        ul {
                @apply list-disc;
                @apply pl-4;
        }

        ol {
                @apply list-decimal;
                @apply pl-4;
        }

        hr {
                @apply mt-20
        }
}
